.countryDetail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-inline: 1.5em;
}

.title {
	margin: 2em 0 1em;
	font-size: 1.5rem;
	color: var(--text);
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text {
	display: flex;
}

.flag {
	width: 100%;
	aspect-ratio: 2 / 1;
}

.textContent {
	width: 100%;
	margin-bottom: 3em;
}

.backButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: var(--elements);
	box-shadow: var(--shadow);
	margin: 3em 0 5em;
	padding: 0.5em 2em;
	cursor: pointer;
}

.btnText {
	font-weight: 300;
	color: var(--text);
}

.icon {
	width: 1.5em;
	margin-right: 1em;
	fill: var(--text);
}

.borderCountry {
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	background-color: var(--elements);
	color: var(--text);
	margin: 0.5em;
	padding: 0.5em 1.5em;
	font-size: 0.8rem;
}

.borderBox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.borderTitle {
	font-size: 1rem;
	margin-bottom: 1em;
	white-space: nowrap;
	color: var(--text);
}

.borderMessage {
	font-weight: 300;
	color: var(--text);
}

.box {
	margin-bottom: 3em;
}

.text {
	font-size: 0.85rem;
	font-weight: 800;
	margin: 0.7em 0;
	display: block;
	color: var(--text);
}

.content {
	font-weight: 300;
	margin-left: 0.1em;
}

@media (min-width: 1024px) {
	.container {
		flex-direction: row;
	}

	.flag {
		padding-right: 2em;
		max-width: 50%;
		max-height: 400px;
	}

	.textContent {
		padding-left: 2em;
	}
}

@media (min-width: 1400px) {
	.flag {
		padding-right: 5em;
	}

	.title {
		margin: 1em 0 1em;
		font-size: 2rem;
	}

	.borderContainer {
		display: flex;
		align-items: center;
	}

	.borderBox {
		align-items: center;
	}

	.borderTitle {
		font-size: 1rem;
		margin-bottom: 0em;
		margin-right: 1em;
	}

	.boxes {
		display: flex;
		justify-content: space-between;
	}

	.box {
		margin-right: 1em;
	}

	.text {
		font-size: 0.95rem;
	}
}

@media (min-width: 1440px) {
	.countryDetail {
		margin-inline: 0;
	}
}
