.box {
	margin-bottom: 3em;
}

.text {
	font-size: 0.85rem;
	font-weight: 800;
	margin: 0.7em 0;
	display: block;
}

.content {
	font-weight: 300;
	margin-left: 0.1em;
}

@media (min-width: 1400px) {
	.boxes {
		display: flex;
		justify-content: space-between;
	}

	.box {
		margin-right: 1em;
	}

	.text {
		font-size: 0.95rem;
	}
}
