.form {
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 1em;
}

.searchInput {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0em 2em;
	background-color: var(--elements);
	border: transparent;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	width: 100%;
}

.searchInput img {
	width: 1.5em;
	height: 1.5em;
}

.searchInput input[type='search'] {
	border: none;
	background-color: transparent;
	font-size: 0.9rem;
	color: var(--text);
	border: 1px solid transparent;
	width: 100%;
	padding: 1em 0;
}

.searchInput:focus-within {
 border: 0.1em solid #fff;
}

.searchInput input[type='search']:focus {
	outline: none;
}

.searchInput button[type='submit'] {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	overflow: hidden;
	cursor: pointer;
	padding: 1em;
	width: 1.5em;
	margin-right: 1em;
}

.select {
	margin-top: 2em;
	padding: 1em 0.2em 1em 1em;
	border-radius: var(--radius);
	border: none;
	box-shadow: var(--shadow);
	background-color: var(--elements);
	color: var(--text);
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	width: 100%;
	max-width: 50vw;
	font-size: 0.9rem;
	cursor: pointer;
	border-right: 1em solid transparent;
}

.select option {
	color: var(--text);
	font-size: 0.9rem;
	margin: 1em 0;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
}

select::-ms-expand {
	padding-right: 1em;
}

@media (min-width: 768px) {
	.form {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 2.5em;
	}

	.select {
		margin-top: 0;
		padding: 1em 0.2em 1em 2em;
		max-width: 200px;
		background-color: var(--elements);
	}

	.searchInput {
		max-width: 500px;
	}
}

@media (min-width: 1440px) {
	.form {
		padding-top: 3em;
		margin: 0;
	}
}
