.select {
	margin-top: 2em;
	padding: 1em 2em;
	border-radius: var(--radius);
	border: none;
	box-shadow: var(--shadow);
	color: var(--light-mode-text);
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	width: 100%;
	max-width: 50vw;
	font-size: 0.9rem;
	cursor: pointer;
}

.select:focus {
	outline: none;
}

.select option {
	color: var(--light-mode-text);
	font-size: 0.9rem;
	margin: 1em 0;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
}

@media (min-width: 768px) {
	.select {
		margin-top: 0;
		max-width: 200px;
	}
}
