.backButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: var(--dark-mode-text-light-mode-elements);
	box-shadow: var(--shadow);
	margin: 3em 0 5em;
	padding: 0.5em 2em;
  cursor: pointer;
}

.backButton p {
	font-weight: 300;
}

.icon {
	width: 1.5em;
	margin-right: 1em;
}