.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4em;
  margin: 3em;
}

.message {
  text-align: center;
  margin-top: 3em;
  font-size: 1.2rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .cards {
    margin-inline: 1em;
  }
}

@media (min-width: 1400px) {
  .cards {
    margin-inline: 0em;
  }

  .message {
    font-size: 1.5rem;
  }
}