@import './variables.css';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background);
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin-inline: auto;
}
