.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.loadingSpinner img {
  width: 3em;
  height: 3em;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}